/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}


#block-block-1 /* Z2 Systems Block */ {
	padding-left: 90px;
	background: url(../images/z2-logo.png) left center no-repeat;
	min-height: 53px;
	padding-top: 20px;
}

#block-block-1 h4, #block-block-1 p {
	margin: 0;
}

#block-block-1 h4 {
	font-size: 1.6em;
	font-weight: normal;
}


#block-search-form /* "Search form" block */ {
	position: absolute;
	right: 0;
	top: 20px;
}


#block-block-2 /* Copyright Statement Block */ {
	position: absolute;
	right: 10px;
	top: 40px;
}


#block-menu-block-1 /* Footer Menu */ {
	position: absolute;
	right: 300px;
	top: 20px;
}

#block-menu-block-1 ul li {
	list-style: none;
}

#block-menu-block-1 a {
	text-decoration: none;
	color: #666666;
}

#block-menu-block-1 a:hover {
	text-decoration: underline;
}




#block-views-testimonials-block .views-row {
	margin-bottom: 50px;
	font-size: 0.9em;
}

#block-views-testimonials-block h2.block-title {
	color: #4196AE;
	font-size: 1.3em;
}

#block-views-testimonials-block .field-name-body p:last-child {
	margin-bottom: 0;
}

#block-views-testimonials-block .node-title {
	display: none;
}





#block-block-3 /* Get Connected Block */ {
	background-color: #2AA3C2;
	box-shadow: 0px 0px 5px #666666;
	-moz-box-shadow: 0px 0px 5px #666666;
	-webkit-box-shadow: 0px 0px 5px #666666;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	color: #FFFFFF;
	padding: 10px 20px;
	margin-top: 20px;
	background: rgb(38,141,167); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, rgba(38,141,167,1) 0%, rgba(39,145,173,1) 9%, rgba(40,149,177,1) 27%, rgba(40,148,177,1) 77%, rgba(38,141,167,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(38,141,167,1)), color-stop(9%,rgba(39,145,173,1)), color-stop(27%,rgba(40,149,177,1)), color-stop(77%,rgba(40,148,177,1)), color-stop(100%,rgba(38,141,167,1))); /* Chrome,Safari4+ */
b	ackground: -webkit-radial-gradient(center, ellipse cover, rgba(38,141,167,1) 0%,rgba(39,145,173,1) 9%,rgba(40,149,177,1) 27%,rgba(40,148,177,1) 77%,rgba(38,141,167,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(38,141,167,1) 0%,rgba(39,145,173,1) 9%,rgba(40,149,177,1) 27%,rgba(40,148,177,1) 77%,rgba(38,141,167,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(38,141,167,1) 0%,rgba(39,145,173,1) 9%,rgba(40,149,177,1) 27%,rgba(40,148,177,1) 77%,rgba(38,141,167,1) 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover, rgba(38,141,167,1) 0%,rgba(39,145,173,1) 9%,rgba(40,149,177,1) 27%,rgba(40,148,177,1) 77%,rgba(38,141,167,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#268da7', endColorstr='#268da7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#block-block-3 p {
	text-align: right;
	font-size: 1.6em;
	line-height: 1em;
	text-shadow: 0px 0px 3px #666;
	margin: 10px 0;
}

#block-block-3 strong {
	font-size: 1.7em;
	line-height: 0.9em;
}

#block-block-3 .content div {
	text-align: center;
}

a.button {
	color: #FFFFFF;
	padding: 10px;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
	box-shadow: 0px 0px 3px #666666;
	-moz-box-shadow: 0px 0px 3px #666666;
	-webkit-box-shadow: 0px 0px 3px #666666;
	display: block;
	width: 110px;
	margin: 10px auto;
	background-color: #87A746;
}

a.button:hover {
	text-decoration: none;
	box-shadow: 0px 0px 1px #666666;
	-moz-box-shadow: 0px 0px 1px #666666;
	-webkit-box-shadow: 0px 0px 1px #666666;
}

a.button:active {
	text-decoration: none;
}

#tour-button {
	background: rgb(224,159,83); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(224,159,83,1) 0%, rgba(221,155,77,1) 19%, rgba(204,134,51,1) 76%, rgba(199,127,43,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,159,83,1)), color-stop(19%,rgba(221,155,77,1)), color-stop(76%,rgba(204,134,51,1)), color-stop(100%,rgba(199,127,43,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(224,159,83,1) 0%,rgba(221,155,77,1) 19%,rgba(204,134,51,1) 76%,rgba(199,127,43,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(224,159,83,1) 0%,rgba(221,155,77,1) 19%,rgba(204,134,51,1) 76%,rgba(199,127,43,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(224,159,83,1) 0%,rgba(221,155,77,1) 19%,rgba(204,134,51,1) 76%,rgba(199,127,43,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(224,159,83,1) 0%,rgba(221,155,77,1) 19%,rgba(204,134,51,1) 76%,rgba(199,127,43,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09f53', endColorstr='#c77f2b',GradientType=0 ); /* IE6-9 */
}

#trial-button {
	background: rgb(158,191,93); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(158,191,93,1) 0%, rgba(153,185,88,1) 22%, rgba(130,163,66,1) 78%, rgba(124,156,60,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,191,93,1)), color-stop(22%,rgba(153,185,88,1)), color-stop(78%,rgba(130,163,66,1)), color-stop(100%,rgba(124,156,60,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(158,191,93,1) 0%,rgba(153,185,88,1) 22%,rgba(130,163,66,1) 78%,rgba(124,156,60,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(158,191,93,1) 0%,rgba(153,185,88,1) 22%,rgba(130,163,66,1) 78%,rgba(124,156,60,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(158,191,93,1) 0%,rgba(153,185,88,1) 22%,rgba(130,163,66,1) 78%,rgba(124,156,60,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(158,191,93,1) 0%,rgba(153,185,88,1) 22%,rgba(130,163,66,1) 78%,rgba(124,156,60,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ebf5d', endColorstr='#7c9c3c',GradientType=0 ); /* IE6-9 */
}